<ion-list>
  <ion-list-header>
    <ion-label (click)="test()"> Remote Server Settings </ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label position="fixed">Protocol</ion-label>
    <ion-select [value]="protocol" (ionChange)="onProtocolChange($event)">
      <ion-select-option value="http">http</ion-select-option>
      <ion-select-option value="https">https</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Address</ion-label>
    <ion-input placeholder="placeholder" (ionChange)="onAddressChange($event)" [value]="address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Port</ion-label>
    <ion-input number placeholder="8080" (ionChange)="onPortChange($event)" [value]="port"></ion-input>
  </ion-item>
</ion-list>