<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-card class="noselect" (click)="presentAlert('shutdown')">
    <ion-card-header>
      <ion-card-title>Shutdown</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>